<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
    <select id="findById" resultType="model.Comment">
        SELECT * FROM BBS_COMMENT
        WHERE COMMENT_ID = #{comment_id}
    </select>

    <select id="findAll" resultType="model.Comment">
        SELECT * FROM BBS_COMMENT
        WHERE DELETE_AT = 1
            AND BOARDID = #{boardId}
        ORDER BY COMMENT_ID
    </select>

    <insert id="write">
        INSERT INTO BBS_COMMENT(COMMENT_ID, CONTENT, WRITER, CREATE_DATE, BOARDID)
        VALUES (SQ_COMMENT_ID.NEXTVAL, #{content}, #{writer}, #{createDate}, #{boardId})
    </insert>

    <update id="delete">
        UPDATE BBS_COMMENT
        SET DELETE_AT = 0
        WHERE COMMENT_ID = #{commentId}
    </update>

    <update id="update">
        UPDATE BBS_COMMENT
        SET CONTENT = #{content}, CREATE_DATE = #{createDate}
        WHERE COMMENT_ID = #{commentId}
    </update>
</mapper>